<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.onlineclass.mapper.AccountInfoMapper">

    <select id="getRealNameById" resultType="java.lang.String">
        select real_name from account_info where id = #{id}
    </select>
    <select id="getAllId" resultType="java.lang.Long">
        SELECT id FROM account_info
    </select>
    <select id="getAllIdByKey" resultType="java.lang.Long">
        SELECT id FROM account_info WHERE
            university like CONCAT('%', #{key}, '%') or
            real_name like CONCAT('%', #{key}, '%') or
            account like CONCAT('%', #{key}, '%')
    </select>
    <select id="getAccount" resultType="com.graduation.onlineclass.entity.AccountInfo">
        select * from account_info where account = #{account} and university = #{university}
    </select>
</mapper>
