<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.onlineclass.mapper.MyFileMapper">

    <select id="getPPT" resultType="com.graduation.onlineclass.entity.MyFile">
        select * from my_file where teaching_each_id = #{teachingEachId} and (type = "ppt" or type = "pptx")
    </select>
    <select id="getVideo" resultType="com.graduation.onlineclass.entity.MyFile">
        select * from my_file where teaching_each_id = #{teachingEachId} and (type = "mp3" or type = "mp4")
    </select>
</mapper>
