<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.onlineclass.mapper.QuizMapper">

    <select id="getMyQuiz" resultType="java.util.HashMap">
        select q.*, qs.*
        from quiz q
                 left join quiz_submit qs
                           on qs.q_id = q.q_id
                               and qs.u_id = #{uid}
        where q.teaching_each_id = #{tid}
    </select>
</mapper>
