<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.onlineclass.mapper.QuizSubmitMapper">

    <select id="getByQid" resultType="java.util.Map">
        select qs.*,q.*,a.* from quiz_submit qs  join quiz q on q.q_id = qs.q_id and qs.q_id = #{qid}
                                             left join account_info a on qs.u_id = a.id

    </select>
    <select id="getRightByQid" resultType="java.util.Map">
        select qs.*,q.*,a.* from quiz_submit qs  join quiz q on q.q_id = qs.q_id and qs.q_id = #{qid} and qs.submit_answer = q.answer
                                                 left join account_info a on qs.u_id = a.id
    </select>
    <select id="getUndoStudent" resultType="java.util.Map">
        select * from account_info a where a.id in (
            select t.u_id from teaching_member t where t.teaching_id = #{teachingId}
        ) and a.id not in (
            select qs.u_id from quiz_submit qs where qs.q_id = #{qid}
        )
    </select>
</mapper>
