<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.onlineclass.mapper.UserInfoMapper">

    <update id="setWxCode">
        UPDATE user_info  set wx_code = #{wxCode}  WHERE u_id= #{uId}
    </update>
</mapper>
